@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sistema Gerenciador de Talentos</h1>
    <p class="lead">Este sistema tem o intuito de gerenciar as atividades realizadas pelos membros da organização e emitir certificado para os mesmos</p>
    
</div>

<div class="row">
    <div class="col-md">
        <h2>Disciplina de Projeto de Software</h2>
        <p>
            Este sistema foi desenvolvido como projeto para a disciplina de Projeto de Software ministrada pelo prof. Guilherme do Instituto de Informática da UFG.
        </p>
        <p> Ele foi desenvolvido pelos alunos:<br /> Gustavo Henrique de Freitas Martins<br /> Kaio Ribeiro Sanchez<br /> Mickael Mendes Mesquita</p>

</div>
   
</div>